.logo-list {
  display: inline-flex;
}
.logo-list__item:not(:last-child) {
  margin-right: 30px;
}
.logo-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  @include cubic(border-color);
}
.logo-list__link:hover,
.logo-list__link:focus {
  border-color: var(--accent-color);
}
.logo-list__icon {
  width: 106px;
  height: 60px;
  fill: var(--social-icon-color);
  @include cubic(fill);
}
.logo-list__link:hover .logo-list__icon,
.logo-list__link:focus .logo-list__icon {
  fill: var(--accent-color);
}
